<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Home Depot Home Services, <%= @user.name %></h1>
    <p>
      
      your email is: <%= @user.email %>.<br> 
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    
    Here is your total price
    <% i = 0 %>
    <%    @user.enrollments.each do |u|    %>
    <% i = u.item.Price.to_i * u.quantity + i %>
    <% end %>

    <Strong>List price:  <%= i + 700 %> </Strong>
    <br>

    <p>Thanks for joining and have a great day!</p>
    
  </body>
</html>