
<%= form_for(customer_intial,html: {multipart: true, class: ""}) do |f| %>
  <% if customer_intial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_intial.errors.count, "error") %> prohibited this customer_intial from being saved:</h2>

      <ul>
      <% customer_intial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 

    <div class="form-group">
      <%= f.label :ISP_name %>
      <%= f.text_field :ISP_name, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :date %>
      <%= f.text_field :date, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :store_number %>
      <%= f.text_field :store_number, class:"form-control" %>
    </div>



    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :spouse_single %>
      <%= f.text_field :spouse_single, class:"form-control" %>
    </div>
  
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :address, class:"form-control" %>
  </div>
  
    <div class="form-group">
      <%= f.label :county %>
      <%= f.text_field :county, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :zip %>
      <%= f.number_field :zip, class:"form-control" %>
    </div>
  

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class:"form-control" %>
  </div>

  
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.number_field :phone, class:"form-control", type:"tel", value: "1-(555)-555-5555" %>
      </div>

      <div class="form-group">
        <%= f.label :alt_phone %>
        <%= f.number_field :alt_phone, class:"form-control" %>
      </div>
   

 
      <div class="form-group">
        <%= f.label :appoitment_date %>
        <%= f.date_select :appoitment_date, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :time %>
        <%= f.time_select :time, class:"form-control" %>
      </div>
  

      <div class="form-group">
        <%= f.label :best_time_to_confirm %>
        <%= f.time_select :best_time_to_confirm, class:"form-control" %>
      </div>
   
  

    <div class="form-check">
      <label class="form-check-label"> 
        <%= f.check_box :home_owners, class: "form-check-input", type:"checkbox" %>
        <%= f.label :home_owners %>
      </label>
    </div>
   
    <div class="form-check">
      <label class="form-check-label"> 
        <%= f.check_box :two_hours, class: "form-check-input", type:"checkbox" %>
        <%= f.label :two_hours %>
      </label>
    </div>

    <div class="form-check">
      <label class="form-check-label"> 
        <%= f.check_box :spouse, class: "form-check-input", type:"checkbox" %>
        <%= f.label :spouse %>
      </label>
    </div>
 

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "form-control" %>
  </div>

 

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>


<% end %>

