<div class="row">
<p id="notice"><%= notice %></p>

<h1>Customer Intials</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ISP</th>
      <th>Name</th>
      <th>Spouse single</th>
      <th>Address</th>
      <th>County</th>
      <th>Zip</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Alt phone</th>
      <th>Appoitment date</th>
      <th>Time</th>
      <th>Best time to confirm</th>
      <th>Home owners</th>
      <th>Two hours</th>
      <th>Spouse</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_intials.each do |customer_intial| %>
      <tr>
        <td><%= customer_intial.ISP_name %></td>
        <td><%= customer_intial.name %></td>
        <td><%= customer_intial.spouse_single %></td>
        <td><%= customer_intial.address %></td>
        <td><%= customer_intial.county %></td>
        <td><%= customer_intial.zip %></td>
        <td><%= customer_intial.email %></td>
        <td><%= customer_intial.phone %></td>
        <td><%= customer_intial.alt_phone %></td>
        <td><%= customer_intial.appoitment_date %></td>
        <td><%= customer_intial.time.strftime('%H : %M') %></td>
        <td><%= customer_intial.best_time_to_confirm.strftime('%H : %M') %></td>
        <td><%= customer_intial.home_owners? ? 'Yes' : 'No' %></td>
        <td><%= customer_intial.two_hours? ? 'Yes' : 'No' %></td>
        <td><%= customer_intial.spouse? ? 'Yes' : 'No' %></td>
        <td><%= customer_intial.notes %></td>
        <td><%= link_to 'Show', customer_intial %></td>
        <td><%= link_to 'Edit', edit_customer_intial_path(customer_intial) %></td>
        <td><%= link_to 'Destroy', customer_intial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Intial', new_customer_intial_path %>
</div>