<p id="notice"><%= notice %></p>


<p>
  <strong>ISP:</strong>
  <%= @customer_intial.ISP_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @customer_intial.date %>
</p>

<p>
  <strong>Store number:</strong>
  <%= @customer_intial.store_number %>
</p>


<p>
  <strong>Name:</strong>
  <%= @customer_intial.name %>
</p>

<p>
  <strong>Spouse single:</strong>
  <%= @customer_intial.spouse_single %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer_intial.address %>
</p>

<p>
  <strong>County:</strong>
  <%= @customer_intial.county %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer_intial.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer_intial.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer_intial.phone %>
</p>

<p>
  <strong>Alt phone:</strong>
  <%= @customer_intial.alt_phone %>
</p>

<p>
  <strong>Appoitment date:</strong>
  <%= @customer_intial.appoitment_date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @customer_intial.time.strftime('%H : %M') %>
</p>

<p>
  <strong>Best time to confirm:</strong>
  <%= @customer_intial.best_time_to_confirm.strftime('%H : %M') %>
</p>

<p>
  <strong>Home owners:</strong>
  <%= @customer_intial.home_owners? ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Two hours:</strong>
  <%= @customer_intial.two_hours? ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Spouse:</strong>
  <%= @customer_intial.spouse? ? 'Yes' : 'No'  %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @customer_intial.notes %>
</p>

<%= link_to 'Edit', edit_customer_intial_path(@customer_intial), class: 'btn btn-secondary' %> 
<%= link_to 'Add more customer', new_customer_intial_path, class: 'btn btn-secondary' %>
