<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :name, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-10">
    <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :email, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-10">
    <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
 

  

  <div class="form-group row">
     <div class="offset-sm-2 col-sm-10">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
