<p id="notice"><%= notice %></p>
<body data-turbolinks="false">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
<%= link_to 'Edit user', edit_user_path(@user) %> |
<%= link_to 'Back', items_path %>

</p>
 


  
 <h2> Your cart </h2>
 <p>Download as: <%=  link_to 'CSV', cart_csv_path(format: :csv)  %> 
<%=  link_to 'XLSX', cart_csv_path(format: :xlsx)  %>
 </p>
 
 <%= link_to 'Add more', items_path, class: "btn btn-success" %>

<%= link_to 'Empty cart', {controller: 'enrollments', action: 'empty_cart'}, class: 'btn btn-warning', data: { confirm: 'Are you sure?' }   %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Line item</th>
      <th>Item</th>
    
      <th>Description</th>
      
     
      <th>Price</th>
      <th>Qty</th>
      <th> Change Qty</th>
      <th><div style="text-align: right">Total</div></th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>
<% i = 0 %>

  <tbody>
    <%    @user.enrollments.each do |u|    %>
      <tr>
        <td><%= u.item.line_item %></td>
        <td><%= u.item.item %></td>
        <td><%= u.item.description %></td>
        <td><%= u.item.Price %></td>        
        
        <td>&times; <%=  u.quantity %></td>
        <td> 

        <%= link_to add_to_list_path(item_id: u.item), class: 'btn btn-success btn-sm' do %>
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
        <% end %>

        <%= link_to add_to_list10_path(item_id: u.item), class: 'btn btn-success btn-sm' do %>
        <i class="fa fa-chevron-up" aria-hidden="true"> 10</i>
        <% end %></br>

        





        <%= link_to remove_path(item_id: u.item), class: 'btn btn-warning btn-sm' do %>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <% end %>

        <%= link_to remove10_path(item_id: u.item), class: 'btn btn-warning btn-sm' do %>
        <i class="fa fa-chevron-down" aria-hidden="true"> 10</i>
        <% end %>

        </td>
       <td><div style="text-align: right"> <%= u.item.Price.to_i * u.quantity %></div></td>

        <td><%= link_to 'Delete', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <td><%= link_to 'Edit', edit_enrollment_path(u) %></td>
      </tr>

      
<% i = u.item.Price.to_i * u.quantity + i %>

    <% end %>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td> <div class="total-line" style="border-top: 1px solid #595; text-align: right">$ <%= i %> </h4></td>
      </tr>
  </tbody>
</table>

  <h4> List Price  <%= i +700 %> 
<%= link_to 'Send me order', {controller: 'users', action: 'send_price'}, remote: true, class: 'btn btn-danger'  %>
 </h4>
 <div id="sent-email"></div>
  <p> 4% of List Price = <%= 4 * (i+700)/100 %> </p>


 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#discount" aria-expanded="false" aria-controls="collapseExample">
              Show Discount
            </button>
         

          <div class="collapse" id="discount">
              <div class="card card-block">
                <h4>  Admin Fee = <%= 700 %> </h4>
                  <h4>Discount of grand total = <%= n= 9*(i+700)/10 %> </h4>
                 <p> 2% of discount  = <%= 2*9*(i+700)/10/100 %> </p>
                    <h4> Discount of discount = <%= k= n*9/10 %> </h4>
                <p>2% of discount of discount = <%= k*2/100 %> </p>
                <br>
              </div>
          </div>
        </div>
 </div>