<h1>Store</h1>
   
   <% @items.each do |item| %>
      
        <div class="col-sm-3">
          <div class="card-deck-wrapper">
            <div class="card-deck">
              <div class="card">
                 <%= image_tag("#{item.image}", class: "card-img-top img-fluid" ) %>
                <div class="card-block">
                  <h4 class="card-title"><%= item.line_item %></h4>
                  <p class="card-text"><%= item.item %></p>
                   <p class="card-text"><%= item.description %></p>
                  <p class="card-text">Price: <%= item.Price %></p>
                  <%= link_to 'Show', item, class: "btn btn-primary"  %>

                  <%= link_to 'Edit', edit_item_path(item) %>
                  
                  <%= button_to enrollments_path(item_id: item), class: 'btn btn-danger' do %>
                  <span class="fa fa-star" aria-hidden="true">Add to list</span>
                  <% end %>

                </div>
              </div>
          </div>
        </div>
      </div>  
      <% end %>






