<h2>Edit Your cart</h2>

    <% @current_user.enrollments.each do |en| %>        
        <%= form_for(en) do |f| %>                 
            <tr>
                <td>
                    <%= f.text_field :quantity, :size => '1' %> x <%=  en.item.line_item %> <%=  en.item.item %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= f.submit "Update quantity" %>
                </td>
            </tr>
        <% end %>  
           
    <% end %>

   

