
<%= form_for(item, html: {multipart: true, class: "container"}) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :line_item, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-10">
    <%= f.number_field :line_item, class: "form-control" %>
    </div>
  </div>

 
  <div class="form-group row">
    <%= f.label :item, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-10">
    <%= f.text_field :item, class: "form-control" %>
    </div>
  </div>
<div class="form-group row">
    <%= f.label :description, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-10">
    <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :sizes, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-10">
    <%= f.text_field :sizes, class: "form-control" %>
    </div>
  </div>
 <div class="form-group row">
    <%= f.label :factor, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-10">
    <%= f.text_field :factor, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :Price, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-10">
    <%= f.text_field :Price, class: "form-control" %>
    </div>
  </div>
 

  <div class="form-group row">
    <%= f.label :Qty, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-10">
    <%= f.number_field :Qty, class: "form-control" %>
    </div>
  </div>
<div class="form-group row">
    <%= f.label :category, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-10">
    <%= f.text_field :category, class: "form-control" %>
    </div>
  </div>

 <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
    
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %> 
    <% end %>
    
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>
