<h1>Editing Item</h1>



<%= link_to 'Show', @item, class: "btn btn-outline-success" %> 
<%= link_to 'Back', items_path, class: "btn btn-outline-info" %> 
<%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning" %>
<%= render 'form', item: @item %>