
  <div style="padding-bottom: 20px;"></div>
  <nav class="navbar navbar-fixed-top navbar-light bg-faded" style="background-color: #e3f2fd;">


    <%= form_tag(items_path, method: "get", class: "form-inline float-lg-left") do %> 
      <%= text_field_tag :search, params[:search], placeholder: "Search Items", class: "form-control" %>

      <%= submit_tag "Search", :name => nil, class: "btn btn-secondary" %>
      <% end %>
    <%= link_to 'Create Item', new_item_path, class: "btn btn-success" %>
     <%= link_to 'Reset', '#', class: "btn btn-warning", remote: true %>


     <% if logged_in? %>       
          <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @current_user.name %>
          </button>
            <div class="dropdown-menu">
              <%= link_to "My Cart", current_user, class: "dropdown-item" %>
              <a class="dropdown-item" href="#"> About</a>
              <div class="dropdown-divider"></div>
                <%= link_to "Log out", logout_path, method: "delete", class: "dropdown-item" %>
              </div>
        <% else %>
         <%= link_to "Log in", login_path, class: "btn btn-outline-info" %>
        <% end %>
    
  
  </nav>


  <h2> List of Items</h2>
Download as
<%= link_to 'xlsx |', items_path(format: :xlsx) %>
<%= link_to ' CSV', items_path(format: :csv) %>
  <div class="row">



   

   
      <% @items.each do |item| %>
      
        <div class="col-sm-3">
          
              <div class="card">
                 <%= image_tag("#{item.image}", class: "card-img-top img-fluid" ) %>
                  <div class="card-header">
                    <h4 class="card-title"><%= item.line_item %></h4>
                  </div>
                <div class="card-block">

                  
                  <p class="card-text"><%= item.item %></p>
                  <p class="card-text"><%= item.description %></p>
                  
                  <%= link_to 'Show', item, class: "btn btn-primary"  %>

                  <%= button_to enrollments_path(item_id: item), class: 'btn btn-danger' do %>
                  <span class="fa fa-star" aria-hidden="true">Add to list</span>
                  <% end %>

                  <%= link_to 'Edit', edit_item_path(item) %>

                </div>
              </div>
          
      </div>  
      <% end %>
    


 <% i = 0 %>
      <% @items.each do |item| %>
      <% i = item.Price.to_i * item.Qty.to_i + i %>
      <% end %>

<p>
 <h4> List Price  <%= i +700 %> </h4> </p>
             <p> 4% of List Price = <%= 4 * (i+700)/100 %> </p>



 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#discount" aria-expanded="false" aria-controls="collapseExample">
              Show Discount
            </button>
         

          <div class="collapse" id="discount">
              <div class="card card-block">
                <h4>  Admin Fee = <%= 700 %> </h4>
                  <h4>Discount of grand total = <%= n= 9*(i+700)/10 %> </h4>
                 <p> 2% of discount  = <%= 2*9*(i+700)/10/100 %> </p>
                    <h4> Discount of discount = <%= k= n*9/10 %> </h4>
                <p>2% of discount of discount = <%= k*2/100 %> </p>
                <br>
              </div>
          </div>
        </div>
 </div>

      </div>

  


