<p id="notice"><%= notice %></p>


<%= link_to 'New customer', new_customer_intial_path, class: 'btn btn-primary' %>


        <%= button_to enrollments_path(item_id: @item), class: 'btn btn-danger' do %>
        <span class="fa fa-star" aria-hidden="true">Add to list</span>
        <% end %>

<p>

  <strong>Line item:</strong>
  <%= @item.line_item %>
</p>

<p>
  <strong>Item:</strong>
  <%= @item.item %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Sizes:</strong>
  <%= @item.sizes %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @item.factor %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.Price %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @item.Qty %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<%= image_tag("#{@item.image}", class:"img-fluid") %>


<%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-primary' %>
<%= link_to 'Back', items_path, class: 'btn btn-primary' %>
