<!DOCTYPE html>
<html>
  <head>
    <title>List Price</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/d4b8a5261f.js"></script>  
  </head>

  <body>
  	<div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

    	<%= yield %>
      
    </div>
     <%= debug(params) if Rails.env.development? %>
  </body>
</html>
